doctype html
html
  head
    meta(charset="utf-8")
    link(href="./build/combined.css", rel="styleSheet", type="text/css")

    title=pageTitle

  body(data-ng-app="kitApp")
    #container
      .kit-editor(data-kit-editor)
        .center-button
          button(data-ng-click="center()" ng-bind="editor.testValue | uppercase") C

  script(src="./build/combined.js")
