g [data-kit-custom-shape] {

}

g [data-kit-rect] {
  fill:orange;
  fill-rule: evenodd;
  stroke: #000;
  stroke-width: 1.5;
}

g [data-kit-t-shape] {
  fill:green;
  fill-rule: evenodd;
  stroke: #000;
  stroke-width: 1.5;
}

